üìå –î–∞—Ç–∞—Å–µ—Ç–∏

–ü—Ä–∞—Ü—é—î–º–æ –∑ —Ñ–∞–π–ª–∞–º–∏ –∑ –±–∞–∫–µ—Ç—É:

s3://<your-bucket-name>/nyc-taxi/

üìå –ó–∞–≤–¥–∞–Ω–Ω—è

‚úÖ 1. External Stage

* –°—Ç–≤–æ—Ä—ñ—Ç—å External Stage, —è–∫–∏–π –ø—ñ–¥–∫–ª—é—á–µ–Ω–æ –¥–æ –ø—É–±–ª—ñ—á–Ω–æ–≥–æ –±–∞–∫–µ—Ç—É
* –ü–µ—Ä–µ–≤—ñ—Ä—Ç–µ –¥–æ—Å—Ç—É–ø–Ω—ñ—Å—Ç—å —Ñ–∞–π–ª—ñ–≤ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é LIST @stage_name

‚úÖ 2. –ó–∞–≤–∞–Ω—Ç–∞–∂–µ–Ω–Ω—è —Å–∏—Ä–∏—Ö –¥–∞–Ω–∏—Ö

* –°—Ç–≤–æ—Ä—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—ñ yellow_raw, green_raw, taxi_zone_lookup
* –ó–∞–≤–∞–Ω—Ç–∞–∂—Ç–µ —Ñ–∞–π–ª–∏ –≤ —Ç–∞–±–ª–∏—Ü—ñ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–º–∞–Ω–¥–∏ COPY INTO

‚úÖ 3. –ó–±–∞–≥–∞—á–µ–Ω–Ω—è –¥–∞–Ω–∏—Ö

* –°—Ç–≤–æ—Ä—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—ñ yellow_enriched —Ç–∞ green_enriched
* –†–µ–∞–ª—ñ–∑—É–π—Ç–µ JOIN –∑ lookup —Ç–∞–±–ª–∏—Ü–µ—é
* Pickup/Dropoff –∑–æ–Ω–∏ (zone_name)
* –í–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É–π—Ç–µ LEFT JOIN –¥–ª—è –∑–±–µ—Ä–µ–∂–µ–Ω–Ω—è –≤—Å—ñ—Ö –∑–∞–ø–∏—Å—ñ–≤

‚úÖ 4. –¢—Ä–∞–Ω—Å—Ñ–æ—Ä–º–∞—Ü—ñ—ó

* –§—ñ–ª—å—Ç—Ä—É–π—Ç–µ –∑–∞–ø–∏—Å–∏:
  * trip_distance > 0
  * total_amount > 0
  * passenger_count –º—ñ–∂ 1 —Ç–∞ 6
* –î–æ–¥–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫—É trip_category:
  * Short (–¥–æ 2 –∫–º), Medium (2‚Äì10 –∫–º), Long (>10 –∫–º)
* –î–æ–¥–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫—É pickup_hour: –≥–æ–¥–∏–Ω—É –∑ pickup_datetime
* –°—Ç–≤–æ—Ä—ñ—Ç—å –∞–≥—Ä–µ–≥–æ–≤–∞–Ω—É —Ç–∞–±–ª–∏—Ü—é –∑ –ø—ñ–¥—Ä–∞—Ö—É–Ω–∫–æ–º –ø–æ –∑–æ–Ω–∞—Ö

‚úÖ 5. Time Travel

* –í–∏–¥–∞–ª—ñ—Ç—å –∫—ñ–ª—å–∫–∞ –∑–∞–ø–∏—Å—ñ–≤ –∑—ñ –∑–±–∞–≥–∞—á–µ–Ω–æ—ó —Ç–∞–±–ª–∏—Ü—ñ (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥, green_enriched)
* –ó–∞ –¥–æ–ø–æ–º–æ–≥–æ—é Time Travel:
  * –ü–µ—Ä–µ–≤—ñ—Ä—Ç–µ —Å—Ç–∞—Ä—É –≤–µ—Ä—Å—ñ—é —Ç–∞–±–ª–∏—Ü—ñ (—á–µ—Ä–µ–∑ AT –∞–±–æ BEFORE)
  * –í—ñ–¥–Ω–æ–≤—ñ—Ç—å –≤–∏–¥–∞–ª–µ–Ω—ñ –∑–∞–ø–∏—Å–∏ —É –Ω–æ–≤—É —Ç–∞–±–ª–∏—Ü—é –∞–±–æ —É —Ç—É –∂ (—á–µ—Ä–µ–∑ INSERT SELECT)

‚úÖ 6. Streams

* –°—Ç–≤–æ—Ä—ñ—Ç—å Stream –Ω–∞ —Ç–∞–±–ª–∏—Ü—ñ yellow_enriched
* –î–æ–¥–∞–π—Ç–µ –Ω–æ–≤—ñ –∑–∞–ø–∏—Å–∏ –≤—Ä—É—á–Ω—É –∞–±–æ —á–µ—Ä–µ–∑ COPY INTO
* –ü–µ—Ä–µ–≤—ñ—Ä—Ç–µ, —â–æ Stream –≤—ñ–¥–æ–±—Ä–∞–∂–∞—î INSERT/UPDATE –∑–º—ñ–Ω–∏
* –°—Ç–≤–æ—Ä—ñ—Ç—å —Ü—ñ–ª—å–æ–≤—É —Ç–∞–±–ª–∏—Ü—é yellow_changes_log –¥–ª—è –∑–±–µ—Ä—ñ–≥–∞–Ω–Ω—è –∑–º—ñ–Ω

‚úÖ 7. Tasks (batch/streaming jobs)

* –°—Ç–≤–æ—Ä—ñ—Ç—å Task, —è–∫–∏–π —â–æ–≥–æ–¥–∏–Ω–∏:
  * –ó—á–∏—Ç—É—î –∑–º—ñ–Ω–∏ –∑—ñ Stream
  * –í—Å—Ç–∞–≤–ª—è—î –Ω–æ–≤—ñ –∑–∞–ø–∏—Å–∏ —É yellow_changes_log
* –í–∏–∫–æ—Ä–∏—Å—Ç–∞–π—Ç–µ SCHEDULE = '1 HOUR' –∞–±–æ WAREHOUSE = '...' –¥–ª—è –∑–∞–ø—É—Å–∫—É
* –ó—Ä–æ–±—ñ—Ç—å –æ–∫—Ä–µ–º–∏–π Task –¥–ª—è –∞–≥—Ä–µ–≥–æ–≤–∞–Ω–æ—ó —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏:
  * –°–µ—Ä–µ–¥–Ω—è –≤—ñ–¥—Å—Ç–∞–Ω—å
  * –°–µ—Ä–µ–¥–Ω—è —Ü—ñ–Ω–∞
  * –ö—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ—ó–∑–¥–æ–∫
  * –ó–±–µ—Ä—ñ–≥–∞–π—Ç–µ —É —Ç–∞–±–ª–∏—Ü—é zone_hourly_stats
* –í–∏–∫–æ—Ä–∏—Å—Ç–∞–π—Ç–µ SCHEDULE = '1 HOUR' –∞–±–æ WAREHOUSE = '...' –¥–ª—è –∑–∞–ø—É—Å–∫—É

üìç 8. –î–æ–¥–∞—Ç–∫–æ–≤–µ –∑–∞–≤–¥–∞–Ω–Ω—è (–æ–ø—Ü—ñ–æ–Ω–∞–ª—å–Ω–æ)

* –û–±‚Äô—î–¥–Ω–∞–π—Ç–µ yellow_enriched —Ç–∞ green_enriched —É —Ç–∞–±–ª–∏—Ü—é all_trips
* –°—Ç–≤–æ—Ä—ñ—Ç—å Stored Procedure:
  * –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –Ω–∞ –¥—É–±–ª—ñ–∫–∞—Ç–∏ –ø–µ—Ä–µ–¥ –≤—Å—Ç–∞–≤–∫–æ—é
  * –ó–∞–ø–∏—Å —Ä–µ–∑—É–ª—å—Ç–∞—Ç—É –≤ –ª–æ–≥-—Ç–∞–±–ª–∏—Ü—é
* –ù–∞–ª–∞—à—Ç—É–π—Ç–µ Zero-Copy Cloning –±–∞–∑–∏ –¥–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è —Å–µ—Ä–µ–¥–æ–≤–∏—â–∞ taxi_dev

In [ ]:
CREATE OR REPLACE STORAGE INTEGRATION lavreniuk_s3_integration
  TYPE = EXTERNAL_STAGE
  STORAGE_PROVIDER = 'S3'
  ENABLED = TRUE
  STORAGE_AWS_ROLE_ARN = 'arn:aws:iam::554739427960:role/lavreniuk-snowflake'
  STORAGE_ALLOWED_LOCATIONS = ('*');

In [ ]:
DESC INTEGRATION s3_integration;

In [ ]:
-- creating format

CREATE OR REPLACE FILE FORMAT csv_format
    TYPE = 'CSV'
    COMPRESSION = 'AUTO'
    FIELD_DELIMITER = ','
    RECORD_DELIMITER = '\n'
    SKIP_HEADER = 1
    TRIM_SPACE = TRUE,
    FIELD_OPTIONALLY_ENCLOSED_BY='"'
    ERROR_ON_COLUMN_COUNT_MISMATCH = FALSE;

CREATE OR REPLACE FILE FORMAT parquet_format
    TYPE = 'PARQUET'
    COMPRESSION = AUTO
    USE_LOGICAL_TYPE = TRUE
    TRIM_SPACE = TRUE;

In [ ]:
 CREATE OR REPLACE STAGE lavreniuk_s3_stage
    STORAGE_INTEGRATION = lavreniuk_s3_integration
    URL = 's3://lavreniuk-hw3/nyc_taxi/'
    FILE_FORMAT = csv_format;

In [ ]:
LIST @lavreniuk_s3_stage;

In [ ]:
-- Creating raw tables

CREATE TABLE IF NOT EXISTS yellow_raw(
    VendorID BIGINT,
    passenger_count BIGINT,
    trip_distance DOUBLE,
    RatecodeID BIGINT,
    store_and_fwd_flag VARCHAR,
    PULocationID BIGINT,
    DOLocationID BIGINT,
    payment_type BIGINT,
    fare_amount DOUBLE,
    extra DOUBLE,
    mta_tax DOUBLE,
    tip_amount DOUBLE,
    tolls_amount DOUBLE,
    improvement_surcharge DOUBLE,
    total_amount DOUBLE,
    congestion_surcharge DOUBLE,
    tpep_pickup_datetime TIMESTAMP_NTZ,
    tpep_dropoff_datetime TIMESTAMP_NTZ,
    Airport_fee DOUBLE
);

CREATE TABLE IF NOT EXISTS green_raw(
    VendorID BIGINT,
    passenger_count BIGINT,
    trip_distance DOUBLE,
    RatecodeID BIGINT,
    store_and_fwd_flag VARCHAR,
    PULocationID BIGINT,
    DOLocationID BIGINT,
    payment_type BIGINT,
    fare_amount DOUBLE,
    extra DOUBLE,
    mta_tax DOUBLE,
    tip_amount DOUBLE,
    tolls_amount DOUBLE,
    improvement_surcharge DOUBLE,
    total_amount DOUBLE,
    congestion_surcharge DOUBLE,
    lpep_pickup_datetime TIMESTAMP_NTZ,
    lpep_dropoff_datetime TIMESTAMP_NTZ
);

CREATE TABLE IF NOT EXISTS taxi_zone_lookup(
    LocationID BIGINT,
    Borough VARCHAR,
    Zone VARCHAR,
    service_zone VARCHAR
);

In [ ]:
-- seeding yellow

COPY INTO public.yellow_raw
    FROM @lavreniuk_s3_stage/yellow
    FILE_FORMAT = parquet_format
    MATCH_BY_COLUMN_NAME = CASE_INSENSITIVE
    ON_ERROR = 'CONTINUE';

In [ ]:
-- seeding green

COPY INTO public.green_raw
    FROM @lavreniuk_s3_stage/green
    FILE_FORMAT = parquet_format
    MATCH_BY_COLUMN_NAME = CASE_INSENSITIVE
    ON_ERROR = 'CONTINUE';

In [ ]:
-- seeding taxi_zone_lookup

COPY INTO public.taxi_zone_lookup
    FROM @lavreniuk_s3_stage/taxi_zone_lookup.csv
    FILE_FORMAT = csv_format
    ON_ERROR = 'CONTINUE';

In [ ]:
SELECT * FROM green_raw LIMIT 5;

In [ ]:
-- –°—Ç–≤–æ—Ä—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—ñ yellow_enriched —Ç–∞ green_enriched
-- * –†–µ–∞–ª—ñ–∑—É–π—Ç–µ JOIN –∑ lookup —Ç–∞–±–ª–∏—Ü–µ—é
-- * Pickup/Dropoff –∑–æ–Ω–∏ (zone_name)
-- * –í–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É–π—Ç–µ LEFT JOIN –¥–ª—è –∑–±–µ—Ä–µ–∂–µ–Ω–Ω—è –≤—Å—ñ—Ö –∑–∞–ø–∏—Å—ñ–≤

CREATE TABLE yellow_enriched AS 
SELECT
    yr.*,
    zl_pi.Zone as pickup_zone,
    zl_do.Zone as dropoff_zone
FROM yellow_raw yr
LEFT JOIN taxi_zone_lookup zl_pi
    ON yr.PULocationID = zl_pi.LocationID
LEFT JOIN taxi_zone_lookup zl_do
    ON yr.DOLocationID = zl_do.LocationID

In [ ]:
CREATE TABLE green_enriched AS 
SELECT
    gr.*,
    zl_pi.Zone as pickup_zone,
    zl_do.Zone as dropoff_zone
FROM green_raw gr
LEFT JOIN taxi_zone_lookup zl_pi
    ON gr.PULocationID = zl_pi.LocationID
LEFT JOIN taxi_zone_lookup zl_do
    ON gr.DOLocationID = zl_do.LocationID

In [ ]:
SELECT TOP 5 * FROM green_enriched

In [ ]:
SELECT TOP 5 * FROM yellow_enriched

In [ ]:
-- * –§—ñ–ª—å—Ç—Ä—É–π—Ç–µ –∑–∞–ø–∏—Å–∏:
--   * trip_distance > 0
--   * total_amount > 0
--   * passenger_count –º—ñ–∂ 1 —Ç–∞ 6
-- * –î–æ–¥–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫—É trip_category:
--   * Short (–¥–æ 2 –∫–º), Medium (2‚Äì10 –∫–º), Long (>10 –∫–º)
-- * –î–æ–¥–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫—É pickup_hour: –≥–æ–¥–∏–Ω—É –∑ pickup_datetime
-- * –°—Ç–≤–æ—Ä—ñ—Ç—å –∞–≥—Ä–µ–≥–æ–≤–∞–Ω—É —Ç–∞–±–ª–∏—Ü—é –∑ –ø—ñ–¥—Ä–∞—Ö—É–Ω–∫–æ–º –ø–æ –∑–æ–Ω–∞—Ö

CREATE TABLE green_enriched_preprocessed AS
SELECT
    *,
    CASE 
        WHEN trip_distance < 2 
            THEN 'Short'
        WHEN trip_distance >= 2 AND trip_distance <= 10
            THEN 'Medium'
        ELSE
            'Long'
    END as trip_category,
    EXTRACT(HOUR from lpep_pickup_datetime) as pickup_hour
FROM green_enriched
WHERE
    trip_distance > 0
    AND total_amount > 0
    AND passenger_count BETWEEN 1 AND 6;

CREATE TABLE yellow_enriched_preprocessed AS
SELECT
    *,
    CASE 
        WHEN trip_distance < 2 
            THEN 'Short'
        WHEN trip_distance >= 2 AND trip_distance <= 10
            THEN 'Medium'
        ELSE
            'Long'
    END as trip_category,
    EXTRACT(HOUR from tpep_pickup_datetime) as pickup_hour
FROM yellow_enriched
WHERE
    trip_distance > 0
    AND total_amount > 0
    AND passenger_count BETWEEN 1 AND 6;

In [ ]:
SELECT TOP 5 * FROM green_enriched_preprocessed

In [ ]:
CREATE TABLE green_zone_aggregated AS
SELECT
    pickup_zone,
    AVG(trip_distance) as avg_trip_distance,
    AVG(total_amount) as avg_total_amount,
    AVG(tip_amount) AS avg_tip_amount,
    MAX(trip_distance) AS max_trip_distance,
    MAX(tip_amount) AS max_tip_amount
FROM green_enriched_preprocessed
GROUP BY pickup_zone;

CREATE TABLE yellow_zone_aggregated AS
SELECT
    pickup_zone,
    AVG(trip_distance) as avg_trip_distance,
    AVG(total_amount) as avg_total_amount,
    AVG(tip_amount) AS avg_tip_amount,
    MAX(trip_distance) AS max_trip_distance,
    MAX(tip_amount) AS max_tip_amount
FROM yellow_enriched_preprocessed
GROUP BY pickup_zone;

In [ ]:
SELECT TOP 5 * FROM green_zone_aggregated

In [ ]:
-- * –í–∏–¥–∞–ª—ñ—Ç—å –∫—ñ–ª—å–∫–∞ –∑–∞–ø–∏—Å—ñ–≤ –∑—ñ –∑–±–∞–≥–∞—á–µ–Ω–æ—ó —Ç–∞–±–ª–∏—Ü—ñ (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥, green_enriched)
-- * –ó–∞ –¥–æ–ø–æ–º–æ–≥–æ—é Time Travel:
--   * –ü–µ—Ä–µ–≤—ñ—Ä—Ç–µ —Å—Ç–∞—Ä—É –≤–µ—Ä—Å—ñ—é —Ç–∞–±–ª–∏—Ü—ñ (—á–µ—Ä–µ–∑ AT –∞–±–æ BEFORE)
--   * –í—ñ–¥–Ω–æ–≤—ñ—Ç—å –≤–∏–¥–∞–ª–µ–Ω—ñ –∑–∞–ø–∏—Å–∏ —É –Ω–æ–≤—É —Ç–∞–±–ª–∏—Ü—é –∞–±–æ —É —Ç—É –∂ (—á–µ—Ä–µ–∑ INSERT SELECT)

SELECT COUNT(1) FROM green_enriched_preprocessed WHERE PULocationID = 226 AND DOLocationID = 82 AND pickup_hour = 0 AND trip_category = 'Short' -- random, not very big set for removing

In [ ]:
DELETE FROM green_enriched_preprocessed WHERE PULocationID = 226 AND DOLocationID = 82 AND pickup_hour = 0 AND trip_category = 'Short'

In [ ]:
SELECT COUNT(1) FROM green_enriched_preprocessed AT(OFFSET => -60*30);

In [ ]:
SELECT COUNT(1) FROM green_enriched_preprocessed;

In [ ]:
-- Different count, so lets restore deleted data
CREATE OR REPLACE TABLE green_enriched_preprocessed AS
    SELECT * FROM green_enriched_preprocessed AT(OFFSET => -60*30);

In [ ]:
SELECT COUNT(1) FROM green_enriched_preprocessed;

In [ ]:
-- * –°—Ç–≤–æ—Ä—ñ—Ç—å Stream –Ω–∞ —Ç–∞–±–ª–∏—Ü—ñ yellow_enriched
-- * –î–æ–¥–∞–π—Ç–µ –Ω–æ–≤—ñ –∑–∞–ø–∏—Å–∏ –≤—Ä—É—á–Ω—É –∞–±–æ —á–µ—Ä–µ–∑ COPY INTO
-- * –ü–µ—Ä–µ–≤—ñ—Ä—Ç–µ, —â–æ Stream –≤—ñ–¥–æ–±—Ä–∞–∂–∞—î INSERT/UPDATE –∑–º—ñ–Ω–∏
-- * –°—Ç–≤–æ—Ä—ñ—Ç—å —Ü—ñ–ª—å–æ–≤—É —Ç–∞–±–ª–∏—Ü—é yellow_changes_log –¥–ª—è –∑–±–µ—Ä—ñ–≥–∞–Ω–Ω—è –∑–º—ñ–Ω

CREATE OR REPLACE STREAM yellow_changes_log 
    ON TABLE yellow_enriched;

In [ ]:
DESCRIBE TABLE yellow_enriched;

In [ ]:
INSERT INTO yellow_enriched(VendorID) VALUES (11111), (22222);

In [ ]:
UPDATE yellow_enriched SET VendorID = 55555 WHERE VendorID = 11111;

In [ ]:
SELECT * FROM yellow_changes_log; -- read it few times, to ensure the stream become empty

In [ ]:
 -- (up) insert and update executed 2 times 
 CREATE TABLE yellow_accumulate_log_table AS
    SELECT * FROM yellow_changes_log; -- –°—Ç–≤–æ—Ä—ñ—Ç—å —Ü—ñ–ª—å–æ–≤—É —Ç–∞–±–ª–∏—Ü—é –¥–ª—è –∑–±–µ—Ä—ñ–≥–∞–Ω–Ω—è –∑–º—ñ–Ω (–Ω–∞–∑–≤–∞–≤ –ø–æ —ñ–Ω—à–æ–º—É, –±–æ –∑—Ä–æ–±–∏–≤ —Ü–µ–π –Ω–µ–π–º—ñ–Ω–≥ –¥–ª—è —Å—Ç—Ä—ñ–º—É)

In [ ]:
SELECT * FROM yellow_accumulate_log_table;

In [ ]:
-- * –°—Ç–≤–æ—Ä—ñ—Ç—å Task, —è–∫–∏–π —â–æ–≥–æ–¥–∏–Ω–∏:
--   * –ó—á–∏—Ç—É—î –∑–º—ñ–Ω–∏ –∑—ñ Stream
--   * –í—Å—Ç–∞–≤–ª—è—î –Ω–æ–≤—ñ –∑–∞–ø–∏—Å–∏ —É yellow_changes_log
-- * –í–∏–∫–æ—Ä–∏—Å—Ç–∞–π—Ç–µ SCHEDULE = '1 HOUR' –∞–±–æ WAREHOUSE = '...' –¥–ª—è –∑–∞–ø—É—Å–∫—É
-- * –ó—Ä–æ–±—ñ—Ç—å –æ–∫—Ä–µ–º–∏–π Task –¥–ª—è –∞–≥—Ä–µ–≥–æ–≤–∞–Ω–æ—ó —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏:
--   * –°–µ—Ä–µ–¥–Ω—è –≤—ñ–¥—Å—Ç–∞–Ω—å
--   * –°–µ—Ä–µ–¥–Ω—è —Ü—ñ–Ω–∞
--   * –ö—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ—ó–∑–¥–æ–∫
--   * –ó–±–µ—Ä—ñ–≥–∞–π—Ç–µ —É —Ç–∞–±–ª–∏—Ü—é zone_hourly_stats
-- * –í–∏–∫–æ—Ä–∏—Å—Ç–∞–π—Ç–µ SCHEDULE = '1 HOUR' –∞–±–æ WAREHOUSE = '...' –¥–ª—è –∑–∞–ø—É—Å–∫—É

In [ ]:
CREATE TASK history_stream_filling_task 
    SCHEDULE = '1 HOUR' AS
        INSERT INTO yellow_accumulate_log_table
            SELECT * FROM yellow_changes_log;

In [ ]:
CREATE TABLE zone_hourly_stats AS
SELECT TOP 1
    GETDATE() as ts,
    pickup_hour,
    COUNT(1) AS total_trips,
    AVG(trip_distance) AS avg_tip_distance,
    AVG(total_amount) AS avg_total_amount
FROM yellow_enriched_preprocessed
WHERE pickup_hour IS NOT NULL
GROUP BY pickup_hour

In [ ]:
TRUNCATE TABLE zone_hourly_stats; -- clear before task creation
DESCRIBE TABLE zone_hourly_stats;

In [ ]:
CREATE TASK zone_hourly_stats_task 
    SCHEDULE = '1 HOUR' AS
    INSERT INTO zone_hourly_stats(ts, pickup_hour, total_trips, avg_tip_distance, avg_total_amount)
        SELECT
            GETDATE() as ts,
            pickup_hour,
            COUNT(1) AS total_trips,
            AVG(trip_distance) AS avg_tip_distance,
            AVG(total_amount) AS avg_total_amount
        FROM yellow_enriched_preprocessed
        WHERE pickup_hour IS NOT NULL
        GROUP BY pickup_hour;

In [ ]:
EXECUTE TASK zone_hourly_stats_task; -- check if task work

In [ ]:
SELECT * FROM zone_hourly_stats;

In [ ]:

# * –û–±‚Äô—î–¥–Ω–∞–π—Ç–µ yellow_enriched —Ç–∞ green_enriched —É —Ç–∞–±–ª–∏—Ü—é all_trips
# * –°—Ç–≤–æ—Ä—ñ—Ç—å Stored Procedure:
#   * –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –Ω–∞ –¥—É–±–ª—ñ–∫–∞—Ç–∏ –ø–µ—Ä–µ–¥ –≤—Å—Ç–∞–≤–∫–æ—é
#   * –ó–∞–ø–∏—Å —Ä–µ–∑—É–ª—å—Ç–∞—Ç—É –≤ –ª–æ–≥-—Ç–∞–±–ª–∏—Ü—é
# * –ù–∞–ª–∞—à—Ç—É–π—Ç–µ Zero-Copy Cloning –±–∞–∑–∏ –¥–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è —Å–µ—Ä–µ–¥–æ–≤–∏—â–∞ taxi_dev
from snowflake.snowpark.context import get_active_session

session = get_active_session()
yellow_enriched_columns = set(session.sql("SELECT TOP 1 * FROM yellow_enriched;").columns)
green_enriched_columns = set(session.sql("SELECT TOP 1 * FROM green_enriched;").columns)
print(f"Yellow: {yellow_enriched_columns}")
print(f"Green: {green_enriched_columns}")
print(yellow_enriched_columns ^ green_enriched_columns)

In [ ]:
CREATE TABLE all_trips AS (
SELECT
    PICKUP_ZONE,
    PASSENGER_COUNT,
    CONGESTION_SURCHARGE,
    TOLLS_AMOUNT,
    TIP_AMOUNT,
    MTA_TAX,
    AIRPORT_FEE,
    TPEP_DROPOFF_DATETIME AS DROPOFF_DATETIME,
    IMPROVEMENT_SURCHARGE,
    DOLOCATIONID,
    TPEP_PICKUP_DATETIME AS PICKUP_DATETIME, 
    VENDORID,
    STORE_AND_FWD_FLAG,
    EXTRA,
    FARE_AMOUNT,
    TOTAL_AMOUNT,
    PAYMENT_TYPE,
    TRIP_DISTANCE,
    DROPOFF_ZONE,
    RATECODEID,
    PULOCATIONID,
    'YELLOW' AS taxi_color
FROM yellow_enriched
    
UNION ALL

SELECT 
    PICKUP_ZONE,
    PASSENGER_COUNT,
    CONGESTION_SURCHARGE,
    TOLLS_AMOUNT,
    TIP_AMOUNT,
    MTA_TAX,
    NULL AS AIRPORT_FEE,
    LPEP_DROPOFF_DATETIME AS DROPOFF_DATETIME,
    IMPROVEMENT_SURCHARGE,
    DOLOCATIONID,
    LPEP_PICKUP_DATETIME AS PICKUP_DATETIME, 
    VENDORID,
    STORE_AND_FWD_FLAG,
    EXTRA,
    FARE_AMOUNT,
    TOTAL_AMOUNT,
    PAYMENT_TYPE,
    TRIP_DISTANCE,
    DROPOFF_ZONE,
    RATECODEID,
    PULOCATIONID,
    'GREEN' AS taxi_color
FROM
    green_enriched
)

In [ ]:
DESCRIBE TABLE all_trips;

In [ ]:
CREATE OR REPLACE PROCEDURE unduplicated_insert_sp(
      PICKUP_ZONE           VARCHAR,
      PASSENGER_COUNT       NUMBER,
      CONGESTION_SURCHARGE  FLOAT,
      TOLLS_AMOUNT          FLOAT,
      TIP_AMOUNT            FLOAT,
      MTA_TAX               FLOAT,
      AIRPORT_FEE           FLOAT,
      DROPOFF_DATETIME      TIMESTAMP_NTZ,
      IMPROVEMENT_SURCHARGE FLOAT,
      DOLOCATIONID          NUMBER,
      PICKUP_DATETIME       TIMESTAMP_NTZ,
      VENDORID              NUMBER,
      STORE_AND_FWD_FLAG    VARCHAR,
      EXTRA                 FLOAT,
      FARE_AMOUNT           FLOAT,
      TOTAL_AMOUNT          FLOAT,
      PAYMENT_TYPE          NUMBER,
      TRIP_DISTANCE         FLOAT,
      DROPOFF_ZONE          VARCHAR,
      RATECODEID            NUMBER,
      PULOCATIONID          NUMBER,
      TAXI_COLOR            VARCHAR
)
RETURNS STRING
LANGUAGE SQL
AS
$$
DECLARE
        DUPLICATE_EXCEPTION EXCEPTION (-20002, 'HERE IS DUPLICATE!.');
        cnt NUMBER;
BEGIN
        SELECT COUNT(1) INTO :cnt
        FROM all_trips t
        WHERE t.PICKUP_ZONE           = :PICKUP_ZONE
          AND t.PASSENGER_COUNT       = :PASSENGER_COUNT
          AND t.CONGESTION_SURCHARGE  = :CONGESTION_SURCHARGE
          AND t.TOLLS_AMOUNT          = :TOLLS_AMOUNT
          AND t.TIP_AMOUNT            = :TIP_AMOUNT
          AND t.MTA_TAX               = :MTA_TAX
          AND t.AIRPORT_FEE           = :AIRPORT_FEE
          AND t.DROPOFF_DATETIME      = :DROPOFF_DATETIME
          AND t.IMPROVEMENT_SURCHARGE = :IMPROVEMENT_SURCHARGE
          AND t.DOLOCATIONID          = :DOLOCATIONID
          AND t.PICKUP_DATETIME       = :PICKUP_DATETIME
          AND t.VENDORID              = :VENDORID
          AND t.STORE_AND_FWD_FLAG    = :STORE_AND_FWD_FLAG
          AND t.EXTRA                 = :EXTRA
          AND t.FARE_AMOUNT           = :FARE_AMOUNT
          AND t.TOTAL_AMOUNT          = :TOTAL_AMOUNT
          AND t.PAYMENT_TYPE          = :PAYMENT_TYPE
          AND t.TRIP_DISTANCE         = :TRIP_DISTANCE
          AND t.DROPOFF_ZONE          = :DROPOFF_ZONE
          AND t.RATECODEID            = :RATECODEID
          AND t.PULOCATIONID          = :PULOCATIONID
          AND t.TAXI_COLOR            = :TAXI_COLOR;
    IF (cnt = 0)
    THEN
        INSERT INTO all_trips (
            PICKUP_ZONE, PASSENGER_COUNT, CONGESTION_SURCHARGE, TOLLS_AMOUNT,
            TIP_AMOUNT, MTA_TAX, AIRPORT_FEE, DROPOFF_DATETIME, IMPROVEMENT_SURCHARGE,
            DOLOCATIONID, PICKUP_DATETIME, VENDORID, STORE_AND_FWD_FLAG, EXTRA,
            FARE_AMOUNT, TOTAL_AMOUNT, PAYMENT_TYPE, TRIP_DISTANCE, DROPOFF_ZONE,
            RATECODEID, PULOCATIONID, TAXI_COLOR
        )
        VALUES (
            :PICKUP_ZONE, :PASSENGER_COUNT, :CONGESTION_SURCHARGE, :TOLLS_AMOUNT,
            :TIP_AMOUNT, :MTA_TAX, :AIRPORT_FEE, :DROPOFF_DATETIME, :IMPROVEMENT_SURCHARGE,
            :DOLOCATIONID, :PICKUP_DATETIME, :VENDORID, :STORE_AND_FWD_FLAG, :EXTRA,
            :FARE_AMOUNT, :TOTAL_AMOUNT, :PAYMENT_TYPE, :TRIP_DISTANCE, :DROPOFF_ZONE,
            :RATECODEID, :PULOCATIONID, :TAXI_COLOR
        );
    ELSE
        RAISE DUPLICATE_EXCEPTION;
    END IF;

    RETURN 'INSERTED';
END;
$$;

In [ ]:
CALL unduplicated_insert_sp(
    'Midtown',            -- PICKUP_ZONE
    2,                    -- PASSENGER_COUNT
    0.0,                  -- CONGESTION_SURCHARGE
    5.0,                  -- TOLLS_AMOUNT
    3.0,                  -- TIP_AMOUNT
    0.5,                  -- MTA_TAX
    1,                    -- AIRPORT_FEE
    '2025-08-16 14:30:00',-- DROPOFF_DATETIME
    0.3,                  -- IMPROVEMENT_SURCHARGE
    234,                  -- DOLOCATIONID
    '2025-08-16 14:00:00',-- PICKUP_DATETIME
    1,                    -- VENDORID
    'N',                  -- STORE_AND_FWD_FLAG
    0.0,                  -- EXTRA
    25.0,                 -- FARE_AMOUNT
    33.8,                 -- TOTAL_AMOUNT
    1,                    -- PAYMENT_TYPE
    3.5,                  -- TRIP_DISTANCE
    'Downtown',           -- DROPOFF_ZONE
    1,                    -- RATECODEID
    123,                  -- PULOCATIONID
    'GREEN'               -- TAXI_COLOR
);

In [ ]:
CALL unduplicated_insert_sp(
    'Midtown',            -- PICKUP_ZONE
    2,                    -- PASSENGER_COUNT
    0.0,                  -- CONGESTION_SURCHARGE
    5.0,                  -- TOLLS_AMOUNT
    3.0,                  -- TIP_AMOUNT
    0.5,                  -- MTA_TAX
    1,                    -- AIRPORT_FEE
    '2025-08-16 14:30:00',-- DROPOFF_DATETIME
    0.3,                  -- IMPROVEMENT_SURCHARGE
    234,                  -- DOLOCATIONID
    '2025-08-16 14:00:00',-- PICKUP_DATETIME
    1,                    -- VENDORID
    'N',                  -- STORE_AND_FWD_FLAG
    0.0,                  -- EXTRA
    25.0,                 -- FARE_AMOUNT
    33.8,                 -- TOTAL_AMOUNT
    1,                    -- PAYMENT_TYPE
    3.5,                  -- TRIP_DISTANCE
    'Downtown',           -- DROPOFF_ZONE
    1,                    -- RATECODEID
    123,                  -- PULOCATIONID
    'GREEN'               -- TAXI_COLOR
);

In [ ]:
CREATE DATABASE LAVRENIUK_TAXI_DEV CLONE LAVRENIUK_HW3;