üìå –õ–æ–≥—ñ–∫–∞ –æ–±—Ä–æ–±–∫–∏ —É Spark job

Spark job –≤–∏–∫–æ–Ω—É—î –Ω–∞—Å—Ç—É–ø–Ω—ñ –∫—Ä–æ–∫–∏:

‚úÖ 1. –§—ñ–ª—å—Ç—Ä–∞—Ü—ñ—è —Ç–∞ –æ—á–∏—â–µ–Ω–Ω—è –¥–∞–Ω–∏—Ö.

* –í–∏–¥–∞–ª–µ–Ω–Ω—è –ø–æ—ó–∑–¥–æ–∫ –∑ –Ω—É–ª—å–æ–≤–æ—é –∞–±–æ –≤—ñ–¥‚Äô—î–º–Ω–æ—é –≤—ñ–¥—Å—Ç–∞–Ω–Ω—é (trip_distance <= 0).
* –í—ñ–¥—Å—ñ—é–≤–∞–Ω–Ω—è –∞–Ω–æ–º–∞–ª—å–Ω–∏—Ö –ø–æ—ó–∑–¥–æ–∫ –∑ —Ç–∞—Ä–∏—Ñ–æ–º ‚â§ 0 –∞–±–æ > 500.
* –í—ñ–¥—Å—ñ—é–≤–∞–Ω–Ω—è –∑–∞–ø–∏—Å—ñ–≤ –∑ –Ω–µ–∫–æ—Ä–µ–∫—Ç–Ω–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–∞—Å–∞–∂–∏—Ä—ñ–≤ (0 –∞–±–æ –±—ñ–ª—å—à–µ 6).

‚úÖ 2. –°—Ç–∞–Ω–¥–∞—Ä—Ç–∏–∑–∞—Ü—ñ—è –∫–æ–ª–æ–Ω–æ–∫ —Ç–∞ —Ñ–æ—Ä–º–∞—Ç—ñ–≤

* –£–Ω—ñ—Ñ—ñ–∫–∞—Ü—ñ—è –Ω–∞–∑–≤ –∫–æ–ª–æ–Ω–æ–∫ –¥–æ snake_case.
* –ö–æ–Ω–≤–µ—Ä—Ç–∞—Ü—ñ—è –¥–∞—Ç —É —Ñ–æ—Ä–º–∞—Ç timestamp.
* –û–±—á–∏—Å–ª–µ–Ω–Ω—è –¥–æ–¥–∞—Ç–∫–æ–≤–∏—Ö –ø–æ–ª—ñ–≤:
  * –¢—Ä–∏–≤–∞–ª—ñ—Å—Ç—å –ø–æ—ó–∑–¥–∫–∏ —É —Ö–≤–∏–ª–∏–Ω–∞—Ö (trip_duration_minutes).
  * –ì–æ–¥–∏–Ω–∞ –¥–æ–±–∏ –ø–æ—á–∞—Ç–∫—É –ø–æ—ó–∑–¥–∫–∏ (pickup_hour).

‚úÖ 3. –ó–±–∞–≥–∞—á–µ–Ω–Ω—è –≥–µ–æ–≥—Ä–∞—Ñ—ñ—á–Ω–∏–º–∏ –æ–∑–Ω–∞–∫–∞–º–∏

* –û–±‚Äô—î–¥–Ω–∞–Ω–Ω—è –∑ –¥–æ–≤—ñ–¥–Ω–∏–∫–æ–º –∑–æ–Ω –∑–∞ PULocationID —Ç–∞ DOLocationID:
  * –û—Ç—Ä–∏–º–∞–Ω–Ω—è –Ω–∞–∑–≤ —Ä–∞–π–æ–Ω—ñ–≤ (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥, pickup_borough, dropoff_borough).

‚úÖ 4. –ó–∞–ø–∏—Å —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ñ–≤ —É PostgreSQL

* –û—Å–Ω–æ–≤–Ω–∏–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –∑–∞–ø–∏—Å—É—î—Ç—å—Å—è —É —Ç–∞–±–ª–∏—Ü—é yellow_taxi_stage, green_taxi_stage, taxi_lookup_zone_stage
* –§–æ—Ä–º–∞—Ç –∑–∞–≤–∞–Ω—Ç–∞–∂–µ–Ω–Ω—è: overwrite, –∑–∞–ª–µ–∂–Ω–æ –≤—ñ–¥ –Ω–∞–ª–∞—à—Ç—É–≤–∞–Ω—å.

In [5]:
from pyspark.sql import SparkSession


spark = (
    SparkSession.builder
    .appName("lavreniuk-hw6")
    .config("spark.jars", "./artifacts/postgresql-42.7.7.jar")
    .getOrCreate()
)

25/09/19 23:30:58 WARN Utils: Your hostname, Air-M4.local resolves to a loopback address: 127.0.0.1; using 172.20.10.2 instead (on interface en0)
25/09/19 23:30:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
25/09/19 23:30:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [1]:
import os

FILES_PATH = "./unified_data/"

GREEN_TAXI_DIR_PATH = os.path.join(FILES_PATH, "green_taxi")
YELLOW_TAXI_DIR_PATH = os.path.join(FILES_PATH, "yellow_taxi")

In [16]:
from pyspark.sql.types import StructType, StructField, StringType, DoubleType, LongType, TimestampNTZType, IntegerType, TimestampType

common_schema = StructType([
    StructField("VendorID", LongType(), True),
    StructField("PULocationID", LongType(), True), # green
    StructField("trip_distance", DoubleType(), True),
    StructField("store_and_fwd_flag", StringType(), True),
    StructField("DOLocationID", LongType(), True),
    StructField("fare_amount", DoubleType(), True),
    StructField("extra", DoubleType(), True),
    StructField("mta_tax", DoubleType(), True),
    StructField("tip_amount", DoubleType(), True),
    StructField("tolls_amount", DoubleType(), True),
    StructField("improvement_surcharge", DoubleType(), True),
    StructField("total_amount", DoubleType(), True),
    StructField("congestion_surcharge", DoubleType(), True),  # Use Double here
])

yellow_schema = StructType([
    StructField("RatecodeID", LongType(), True),
    StructField("payment_type", LongType(), True),
    StructField("passenger_count", DoubleType(), True),
    StructField("tpep_pickup_datetime", TimestampType(), True),
    StructField("tpep_dropoff_datetime", TimestampType(), True),
    StructField("airport_fee", DoubleType(), True),
    StructField("trip_type", DoubleType(), True),
    *common_schema,
])

green_schema = StructType([
    StructField("RatecodeID", LongType(), True),
    StructField("payment_type", LongType(), True),
    StructField("passenger_count", DoubleType(), True),
    StructField("lpep_pickup_datetime", TimestampType(), True),
    StructField("lpep_dropoff_datetime", TimestampType(), True),
    StructField("ehail_fee", DoubleType(), True),
    *common_schema,
])

In [17]:
green_df = (
    spark.read.options(
        mergeSchema="true",
        recursiveFileLookup="true",
    )
    .schema(green_schema)
    .parquet(GREEN_TAXI_DIR_PATH)
    .withColumnRenamed("lpep_pickup_datetime", "pickup_datetime")
    .withColumnRenamed("lpep_dropoff_datetime","dropoff_datetime")
    .withColumnRenamed("ehail_fee", "fee")
)

yellow_df = (
    spark.read.options(
        mergeSchema="true",
        recursiveFileLookup="true",
    )
    .schema(yellow_schema)
    .parquet(YELLOW_TAXI_DIR_PATH)
    .withColumnRenamed("tpep_pickup_datetime", "pickup_datetime")
    .withColumnRenamed("tpep_dropoff_datetime","dropoff_datetime")
)

In [18]:
# * –í–∏–¥–∞–ª–µ–Ω–Ω—è –ø–æ—ó–∑–¥–æ–∫ –∑ –Ω—É–ª—å–æ–≤–æ—é –∞–±–æ –≤—ñ–¥‚Äô—î–º–Ω–æ—é –≤—ñ–¥—Å—Ç–∞–Ω–Ω—é (trip_distance <= 0).
# * –í—ñ–¥—Å—ñ—é–≤–∞–Ω–Ω—è –∞–Ω–æ–º–∞–ª—å–Ω–∏—Ö –ø–æ—ó–∑–¥–æ–∫ –∑ —Ç–∞—Ä–∏—Ñ–æ–º ‚â§ 0 –∞–±–æ > 500.
# * –í—ñ–¥—Å—ñ—é–≤–∞–Ω–Ω—è –∑–∞–ø–∏—Å—ñ–≤ –∑ –Ω–µ–∫–æ—Ä–µ–∫—Ç–Ω–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–∞—Å–∞–∂–∏—Ä—ñ–≤ (0 –∞–±–æ –±—ñ–ª—å—à–µ 6).

filter_query = """
    SELECT * FROM {df}
    WHERE 
        trip_distance > 0
        AND total_amount > 0
        AND total_amount <= 500
        AND passenger_count BETWEEN 0 AND 6;   
"""
yellow_filtered_df = spark.sql(filter_query, df=yellow_df)
green_filtered_df = spark.sql(filter_query, df=green_df)

yellow_filtered_df.show(5)
green_filtered_df.show(5)

+----------+------------+---------------+-------------------+-------------------+-----------+---------+--------+------------+-------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|RatecodeID|payment_type|passenger_count|    pickup_datetime|   dropoff_datetime|airport_fee|trip_type|VendorID|PULocationID|trip_distance|store_and_fwd_flag|DOLocationID|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+----------+------------+---------------+-------------------+-------------------+-----------+---------+--------+------------+-------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|         1|           1|            1.0|2020-02-01 02:17:35|2020-02-01 02:30:32|       null|     null|       1|         145|          2.6|                 N|           7|       11.0|  0.5|    0.5|      2.45|         0.0|                  0.3|       14.75|                 0.0|
|         1|           1|            1.0|2020-02-01 02:32:47|2020-02-01 03:05:36|       null|     null|       1|          45|          4.8|                 N|          61|       21.5|  3.0|    0.5|       6.3|         0.0|                  0.3|        31.6|                 2.5|
|         1|           1|            1.0|2020-02-01 02:31:44|2020-02-01 02:43:28|       null|     null|       1|         186|          3.2|                 N|         140|       11.0|  3.0|    0.5|       1.0|         0.0|                  0.3|        15.8|                 2.5|
|         1|           1|            1.0|2020-02-01 02:07:35|2020-02-01 02:31:39|       null|     null|       2|         144|         4.38|                 N|         140|       18.0|  0.5|    0.5|       3.0|         0.0|                  0.3|        24.8|                 2.5|
|         1|           2|            1.0|2020-02-01 02:51:43|2020-02-01 03:01:29|       null|     null|       2|         238|         2.28|                 N|         152|        9.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        10.8|                 0.0|
+----------+------------+---------------+-------------------+-------------------+-----------+---------+--------+------------+-------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 5 rows

+----------+------------+---------------+-------------------+-------------------+----+--------+------------+-------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|RatecodeID|payment_type|passenger_count|    pickup_datetime|   dropoff_datetime| fee|VendorID|PULocationID|trip_distance|store_and_fwd_flag|DOLocationID|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+----------+------------+---------------+-------------------+-------------------+----+--------+------------+-------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|         1|           2|            1.0|2022-03-01 02:24:14|2022-03-01 02:34:04|null|       1|          74|          2.3|                 N|         151|        9.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        10.8|                 0.0|
|         1|           1|            1.0|2022-03-01 01:39:24|2022-03-01 01:47:03|null|       2|          75|         1.31|                 N|         151|        7.5|  0.5|    0.5|       1.0|         0.0|                  0.3|         9.8|                 0.0|
|         1|           1|            1.0|2022-03-01 01:55:30|2022-03-01 02:09:32|null|       2|         166|         2.31|                 N|          42|       11.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.8|                 0.0|
|         1|           2|            1.0|2022-03-01 02:24:55|2022-03-01 02:33:06|null|       2|          82|         1.58|                 N|         173|        8.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         9.3|                 0.0|
|         1|           1|            1.0|2022-03-01 02:23:33|2022-03-01 02:30:08|null|       2|         127|         1.52|                 N|         243|        7.0|  0.5|    0.5|      2.08|         0.0|                  0.3|       10.38|                 0.0|
+----------+------------+---------------+-------------------+-------------------+----+--------+------------+-------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 5 rows

In [19]:
# * –£–Ω—ñ—Ñ—ñ–∫–∞—Ü—ñ—è –Ω–∞–∑–≤ –∫–æ–ª–æ–Ω–æ–∫ –¥–æ snake_case.
# * –ö–æ–Ω–≤–µ—Ä—Ç–∞—Ü—ñ—è –¥–∞—Ç —É —Ñ–æ—Ä–º–∞—Ç timestamp. - Already done
# * –û–±—á–∏—Å–ª–µ–Ω–Ω—è –¥–æ–¥–∞—Ç–∫–æ–≤–∏—Ö –ø–æ–ª—ñ–≤:
#   * –¢—Ä–∏–≤–∞–ª—ñ—Å—Ç—å –ø–æ—ó–∑–¥–∫–∏ —É —Ö–≤–∏–ª–∏–Ω–∞—Ö (trip_duration_minutes).
#   * –ì–æ–¥–∏–Ω–∞ –¥–æ–±–∏ –ø–æ—á–∞—Ç–∫—É –ø–æ—ó–∑–¥–∫–∏ (pickup_hour).

import re
from pyspark.sql.functions import unix_timestamp, hour, col
from pyspark.sql.functions import round as sp_round

def to_snake_case(name: str) -> str:
    name = re.sub("(.)([A-Z][a-z]+)", r"\1_\2", name)
    name = re.sub("([a-z0-9])([A-Z])", r"\1_\2", name)
    return name.lower()

additional_columns = {
    "pickup_hour": hour("pickup_datetime"),
    "trip_duration_minutes": sp_round(
        (unix_timestamp(col("dropoff_datetime")) - unix_timestamp(col("pickup_datetime"))) / 60,
        4
    )
}

yellow_snaked_df = (
    yellow_filtered_df.toDF(*[to_snake_case(c) for c in yellow_filtered_df.columns])
    .withColumns(additional_columns)
)

green_snaked_df = (
    green_filtered_df.toDF(*[to_snake_case(c) for c in green_filtered_df.columns])
    .withColumns(additional_columns)
)

In [8]:
yellow_snaked_df.show(5)

green_snaked_df.show(5)

+-----------+------------+---------------+-------------------+-------------------+-----------+---------+---------+--------------+-------------+------------------+--------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+---------------------+
|ratecode_id|payment_type|passenger_count|    pickup_datetime|   dropoff_datetime|airport_fee|trip_type|vendor_id|pu_location_id|trip_distance|store_and_fwd_flag|do_location_id|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|pickup_hour|trip_duration_minutes|
+-----------+------------+---------------+-------------------+-------------------+-----------+---------+---------+--------------+-------------+------------------+--------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+---------------------+
|          1|           1|              1|2020-01-31 22:17:35|2020-01-31 22:30:32|       NULL|     NULL|        1|           145|          2.6|                 N|             7|       11.0|  0.5|    0.5|      2.45|         0.0|                  0.3|       14.75|                 0.0|         22|                12.95|
|          1|           1|              1|2020-01-31 22:32:47|2020-01-31 23:05:36|       NULL|     NULL|        1|            45|          4.8|                 N|            61|       21.5|  3.0|    0.5|       6.3|         0.0|                  0.3|        31.6|                 2.5|         22|              32.8167|
|          1|           1|              1|2020-01-31 22:31:44|2020-01-31 22:43:28|       NULL|     NULL|        1|           186|          3.2|                 N|           140|       11.0|  3.0|    0.5|       1.0|         0.0|                  0.3|        15.8|                 2.5|         22|              11.7333|
|          1|           1|              1|2020-01-31 22:07:35|2020-01-31 22:31:39|       NULL|     NULL|        2|           144|         4.38|                 N|           140|       18.0|  0.5|    0.5|       3.0|         0.0|                  0.3|        24.8|                 2.5|         22|              24.0667|
|          1|           2|              1|2020-01-31 22:51:43|2020-01-31 23:01:29|       NULL|     NULL|        2|           238|         2.28|                 N|           152|        9.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        10.8|                 0.0|         22|               9.7667|
+-----------+------------+---------------+-------------------+-------------------+-----------+---------+---------+--------------+-------------+------------------+--------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+---------------------+
only showing top 5 rows
+-----------+------------+---------------+-------------------+-------------------+----+---------+--------------+-------------+------------------+--------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+---------------------+
|ratecode_id|payment_type|passenger_count|    pickup_datetime|   dropoff_datetime| fee|vendor_id|pu_location_id|trip_distance|store_and_fwd_flag|do_location_id|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|pickup_hour|trip_duration_minutes|
+-----------+------------+---------------+-------------------+-------------------+----+---------+--------------+-------------+------------------+--------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+---------------------+
|          1|           2|            1.0|2022-03-01 00:24:14|2022-03-01 00:34:04|NULL|        1|            74|          2.3|                 N|           151|        9.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        10.8|                 0.0|          0|               9.8333|
|          1|           1|            1.0|2022-02-28 23:39:24|2022-02-28 23:47:03|NULL|        2|            75|         1.31|                 N|           151|        7.5|  0.5|    0.5|       1.0|         0.0|                  0.3|         9.8|                 0.0|         23|                 7.65|
|          1|           1|            1.0|2022-02-28 23:55:30|2022-03-01 00:09:32|NULL|        2|           166|         2.31|                 N|            42|       11.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.8|                 0.0|         23|              14.0333|
|          1|           2|            1.0|2022-03-01 00:24:55|2022-03-01 00:33:06|NULL|        2|            82|         1.58|                 N|           173|        8.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         9.3|                 0.0|          0|               8.1833|
|          1|           1|            1.0|2022-03-01 00:23:33|2022-03-01 00:30:08|NULL|        2|           127|         1.52|                 N|           243|        7.0|  0.5|    0.5|      2.08|         0.0|                  0.3|       10.38|                 0.0|          0|               6.5833|
+-----------+------------+---------------+-------------------+-------------------+----+---------+--------------+-------------+------------------+--------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+---------------------+
only showing top 5 rows

In [9]:
# * –û–±‚Äô—î–¥–Ω–∞–Ω–Ω—è –∑ –¥–æ–≤—ñ–¥–Ω–∏–∫–æ–º –∑–æ–Ω –∑–∞ PULocationID —Ç–∞ DOLocationID:
# * –û—Ç—Ä–∏–º–∞–Ω–Ω—è –Ω–∞–∑–≤ —Ä–∞–π–æ–Ω—ñ–≤ (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥, pickup_borough, dropoff_borough).

TAXI_ZONE_FILE_PATH = os.path.join(FILES_PATH, "taxi_zone_lookup.csv")
taxi_zone_lookup_df = spark.read.options(header="true").csv(TAXI_ZONE_FILE_PATH)
taxi_zone_lookup_df.show(5)

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 5 rows

In [10]:
from pyspark.sql.functions import broadcast
from pyspark.sql import DataFrame

def join_zones(df: DataFrame, zone_df: DataFrame) -> DataFrame:
    return (
        df.join(
            broadcast(
                zone_df.select(
                    col("Borough").alias("pickup_borough"),
                    col("LocationID").alias("pu_location_id"),
                )
            ),
            how="left",
            on="pu_location_id"
        ).join(
            broadcast(
                zone_df.select(
                    col("Borough").alias("dropoff_borough"),
                    col("LocationID").alias("do_location_id"),
                )
            ),
            how="left",
            on="do_location_id" 
        )
    )

yellow_taxi_stage_df = join_zones(yellow_snaked_df, taxi_zone_lookup_df)
green_taxi_stage_df = join_zones(green_snaked_df, taxi_zone_lookup_df)
    

yellow_taxi_stage_df.show(5)
green_taxi_stage_df.show(5)

+--------------+--------------+-----------+------------+---------------+-------------------+-------------------+-----------+---------+---------+-------------+------------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+---------------------+--------------+---------------+
|do_location_id|pu_location_id|ratecode_id|payment_type|passenger_count|    pickup_datetime|   dropoff_datetime|airport_fee|trip_type|vendor_id|trip_distance|store_and_fwd_flag|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|pickup_hour|trip_duration_minutes|pickup_borough|dropoff_borough|
+--------------+--------------+-----------+------------+---------------+-------------------+-------------------+-----------+---------+---------+-------------+------------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+---------------------+--------------+---------------+
|             7|           145|          1|           1|              1|2020-01-31 22:17:35|2020-01-31 22:30:32|       NULL|     NULL|        1|          2.6|                 N|       11.0|  0.5|    0.5|      2.45|         0.0|                  0.3|       14.75|                 0.0|         22|                12.95|        Queens|         Queens|
|            61|            45|          1|           1|              1|2020-01-31 22:32:47|2020-01-31 23:05:36|       NULL|     NULL|        1|          4.8|                 N|       21.5|  3.0|    0.5|       6.3|         0.0|                  0.3|        31.6|                 2.5|         22|              32.8167|     Manhattan|       Brooklyn|
|           140|           186|          1|           1|              1|2020-01-31 22:31:44|2020-01-31 22:43:28|       NULL|     NULL|        1|          3.2|                 N|       11.0|  3.0|    0.5|       1.0|         0.0|                  0.3|        15.8|                 2.5|         22|              11.7333|     Manhattan|      Manhattan|
|           140|           144|          1|           1|              1|2020-01-31 22:07:35|2020-01-31 22:31:39|       NULL|     NULL|        2|         4.38|                 N|       18.0|  0.5|    0.5|       3.0|         0.0|                  0.3|        24.8|                 2.5|         22|              24.0667|     Manhattan|      Manhattan|
|           152|           238|          1|           2|              1|2020-01-31 22:51:43|2020-01-31 23:01:29|       NULL|     NULL|        2|         2.28|                 N|        9.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        10.8|                 0.0|         22|               9.7667|     Manhattan|      Manhattan|
+--------------+--------------+-----------+------------+---------------+-------------------+-------------------+-----------+---------+---------+-------------+------------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+---------------------+--------------+---------------+
only showing top 5 rows
+--------------+--------------+-----------+------------+---------------+-------------------+-------------------+----+---------+-------------+------------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+---------------------+--------------+---------------+
|do_location_id|pu_location_id|ratecode_id|payment_type|passenger_count|    pickup_datetime|   dropoff_datetime| fee|vendor_id|trip_distance|store_and_fwd_flag|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|pickup_hour|trip_duration_minutes|pickup_borough|dropoff_borough|
+--------------+--------------+-----------+------------+---------------+-------------------+-------------------+----+---------+-------------+------------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+---------------------+--------------+---------------+
|           151|            74|          1|           2|            1.0|2022-03-01 00:24:14|2022-03-01 00:34:04|NULL|        1|          2.3|                 N|        9.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        10.8|                 0.0|          0|               9.8333|     Manhattan|      Manhattan|
|           151|            75|          1|           1|            1.0|2022-02-28 23:39:24|2022-02-28 23:47:03|NULL|        2|         1.31|                 N|        7.5|  0.5|    0.5|       1.0|         0.0|                  0.3|         9.8|                 0.0|         23|                 7.65|     Manhattan|      Manhattan|
|            42|           166|          1|           1|            1.0|2022-02-28 23:55:30|2022-03-01 00:09:32|NULL|        2|         2.31|                 N|       11.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.8|                 0.0|         23|              14.0333|     Manhattan|      Manhattan|
|           173|            82|          1|           2|            1.0|2022-03-01 00:24:55|2022-03-01 00:33:06|NULL|        2|         1.58|                 N|        8.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         9.3|                 0.0|          0|               8.1833|        Queens|         Queens|
|           243|           127|          1|           1|            1.0|2022-03-01 00:23:33|2022-03-01 00:30:08|NULL|        2|         1.52|                 N|        7.0|  0.5|    0.5|      2.08|         0.0|                  0.3|       10.38|                 0.0|          0|               6.5833|     Manhattan|      Manhattan|
+--------------+--------------+-----------+------------+---------------+-------------------+-------------------+----+---------+-------------+------------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+---------------------+--------------+---------------+
only showing top 5 rows

In [ ]:
# * –û—Å–Ω–æ–≤–Ω–∏–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –∑–∞–ø–∏—Å—É—î—Ç—å—Å—è —É —Ç–∞–±–ª–∏—Ü—é yellow_taxi_stage, green_taxi_stage, taxi_lookup_zone_stage
# * –§–æ—Ä–º–∞—Ç –∑–∞–≤–∞–Ω—Ç–∞–∂–µ–Ω–Ω—è: overwrite, –∑–∞–ª–µ–∂–Ω–æ –≤—ñ–¥ –Ω–∞–ª–∞—à—Ç—É–≤–∞–Ω—å.

DB_USER = "airflow"
DB_PASSWORD = "airflow"
JDBC_URL = "jdbc:postgresql://localhost:8432/hw6"

def write_psql(
        writeable_df: DataFrame,
        *,
        table: str,
        connection_str: str,
        username: str,
        password: str,
        mode: str = "overwrite"
) -> None:
    properties = {"user":username, "password":password, "driver": "org.postgresql.Driver"}
    writeable_df.write.jdbc(url=connection_str, table=table, properties=properties, mode=mode)

write_psql(yellow_taxi_stage_df.limit(20000), table="yellow_taxi_stage", connection_str=JDBC_URL, username=DB_USER, password=DB_PASSWORD)
write_psql(green_taxi_stage_df.limit(20000), table="green_taxi_stage", connection_str=JDBC_URL, username=DB_USER, password=DB_PASSWORD)
write_psql(taxi_zone_lookup_df.toDF(*[to_snake_case(c) for c in taxi_zone_lookup_df.columns]), table="taxi_lookup_zone_stage", connection_str=JDBC_URL, username=DB_USER, password=DB_PASSWORD)